{% extends "base1.html" %}
{% block content %}

  <div class="jumbotron">
    <h1>Welcome to the sign up page</h1>
    <p>Fill up the form. Notice we don't save any informations</p>
      <a href="{{url_for("signup_form")}}">Sign up for auditions here</a>

      <form action="{{url_for("thank_you")}}" >

        <label for="first">First Name: </label>
        <input type="text" name="first">
        <label for="Last">Last Name: </label>
        <input type="text" name="last">
        <input type="submit" value="Submit Form">

      </form>
  </div>
  {% endblock %}
